header {
	color: white;
	text-align: center;
	padding-top: 10px;
}

footer {
	color: white;
	text-align: center;
	margin-top: 20px;
}

#container {
	margin: auto;	
	background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	width: 70%;
	background-size: cover;
}

#cover {
	padding-left: 40px;
	padding-right: 40px;
}

.left-side {
	color: white;
	background-color: rgba(7, 3, 3, 0.7);
	padding-left: 30px;
	padding-right: 30px;
	height: inherit;
}

.right-side {
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	background-color: rgba(23, 149, 180, 0.7);
	height: inherit;
}

.right-side > h2 {
text-align: center;
}

.form-group > label {
	padding-top: 7px !important;
	padding-right: 0px !important;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-sm"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

@media only screen and (max-width: 768px){
    #container {	
	width: 100%;
	}
}